<nav class="collapse sidebar d-lg-block" id="sidebar">
  <div class="position-sticky">
    <ul class="list-group bg-transparent">
      <li>
        <a routerLink="products" class="list-group-item py-3 bg-transparent">
          <span>Products</span>
        </a>
      </li>
      <li>
        <a routerLink="#" class="list-group-item py-3 bg-transparent">
          <span>Carts</span>
        </a>
      </li>
      <li>
        <a routerLink="#" class="list-group-item py-3 bg-transparent">
          <span>Purchases</span>
        </a>
      </li>
      <li>
        <a routerLink="#" class="list-group-item py-3 bg-transparent">
          <span>My account</span>
        </a>
      </li>
      <li>
        <a routerLink="#" class="list-group-item py-3 bg-transparent">
          <span>Log out</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
