<nav class="collapse sidebar d-lg-block bg-light" id="sidebar">
  <div class="position-sticky">
    <ul class="list-group">
      <div class="list-group-item py-3">
        <a routerLink="#"><span>Products</span></a>
      </div>
      <div class="list-group-item py-3">
        <a routerLink="#"><span>Carts</span></a>
      </div>
      <div class="list-group-item py-3">
        <a routerLink="#"><span>Purchases</span></a>
      </div>
      <div class="list-group-item py-3">
        <a routerLink="#"><span>My account</span></a>
      </div>
      <div class="list-group-item py-3">
        <a routerLink="#"><span>Log out</span></a>
      </div>
    </ul>
  </div>
</nav>
