<div class="container my-3">
  <div class="row">
    <div *ngFor="let product of products" class="col-md-4 card-box">
      <mat-card class="m-1">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>Price: ${{ product.price }}</mat-card-subtitle>
          <mat-card-subtitle>Stock: {{ product.stock }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{ product.description }}</mat-card-content>
        <img mat-card-image src="{{product.thumbnail}}">
        <mat-card-actions>
          <button mat-flat-button color="accent">Add to cart</button>
          <button mat-stroked-button color="accent" (click)="openEditProductDialog(product)">Edit</button>
          <button mat-flat-button color="warn" (click)="deleteProduct(product.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

